.text-center{
    text-align: center;
    color: rgb(19, 11, 245);
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }

  .container{
    width: max-content;
    padding: 4rem;
    border: 2rem;
    border-radius: 2rem;
    border-style: solid;
    box-shadow: 5rem;
    border-color:rgb(9, 1, 17);
    
  }